@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #f9f7fe;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
  }

  body {
    margin: 0;
    padding: 0;
    color: #000;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: #272142;
  }
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 64px;
  }

  h4 {
    font-size: 48px;
  }
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

}

@layer components {
}