@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
  }

  body {
    margin: 0;
    padding: 0;
    color: #000;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: #272142;
  }
  h1 {
    font-size: 6em;
    line-height: 120%;
  }
  h2 {
    font-size: 4em;
    line-height: 120%;
  }

  h4 {
    font-size: 48px;
  }
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

  .menu-item.active{
    @apply text-indigo-500;
  }
}

@layer components {
  .link {
    @apply rounded-md py-4 px-8 text-lg border-indigo-600 text-indigo-600 border;
  }

  .link-filled {
    @apply rounded-md py-4 px-8 text-lg bg-indigo-600 text-white;
  }

  .contact-btn {
    @apply inline-block rounded-md py-4 px-8 text-xl font-bold bg-indigo-500 text-indigo-50;
  }
}
